composer.phar
composer.lock
vendor
build

### OSX template
.DS_Store

### PHPSTORM
.idea
.bundle
.cache

### Windows template
# Windows image file caches
Thumbs.db

public/config
public/secret

.phpunit.result.cache

tests/credentials
